<link rel="stylesheet" href="/css/cards.css" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<section class="cards-container">
	<div class="card loading-card">
		<div class="loading" data-loading="true"></div>
		<div class="loader"></div>
		<img src="/images/cg.webp" alt="Coleg Gwent Logo" />
		<div class="info">
			<div class="points">
				<h2>Points</h2>
				<h3 id="cgp">LOADING</h3>
			</div>
			<div class="pos">
				<h2>Position</h2>
				<h3 id="cgpos">LOADING</h3>
			</div>
		</div>
	</div>
	<div class="card loading-card">
		<div class="loading" data-loading="true"></div>
		<div class="loader"></div>
		<div id="chart-container">
			<canvas id="chart" data-loading="true"></canvas>
		</div>
		<h2 id="winning">LOADING Is Winning By LOADING Points</h2>
	</div>
	<div class="card loading-card">
		<div class="loading" data-loading="true"></div>
		<div class="loader"></div>
		<img src="/images/bc.webp" alt="Bridgend College Logo" />
		<div class="info">
			<div class="points">
				<h2>Points</h2>
				<h3 id="bcp">LOADING</h3>
			</div>
			<div class="pos">
				<h2>Position</h2>
				<h3 id="bcpos">LOADING</h3>
			</div>
		</div>
	</div>
</section>
